POSTGRES_DB=cobre_notifications
POSTGRES_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/cobre_notifications
DB_USER=replace_with_local_username
DB_PASSWORD=replace_with_local_password
NOTIFICATION_JSON_IMPORT_ENABLED=true
